*{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}






.edu{
	min-height: 75vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/iiiii.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	color: black;

}




.edu-1 h1{
	color: #fff;
	margin-top: 50px;
	font-size: 50px;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;

}

.edu-1 h1{
	font-size: 30px;
	font-style: !important;
	font-style: italic;
}

.edu-1 h1 span{
	color: greenyellow;
	font-size: 60px;
}

.table-1{
	color: black;
	font-size: 30px;
	width: 50%;
	margin-left: 20%;
}

.content-table{
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		min-width: 900px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);

	}

.content-table thead tr{
	background-color: #009879;
	color: black;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td{
	padding: 12px 15px;
}

.content-table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #009879;
}









.sub-header{
	min-height: 100vh;
	width: 100%;
	background-color: green;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/iiii.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.content{
	margin-top: 1%;
	width: 40%;
	text-align: center;

}

.content h1{
	font-size: 60px;
	color: #fff;
}

.content p{
	margin: 10px 0 30px;
	color: #fff;
	font-size: 30px;
	font-style: italic;
}

.feature-img{
	width: 500px;
	position: absolute;
	right: 10%;
	bottom: 2%;
	padding: 2%;
}

.content h1 span{
	color: blue;
}

.anim{
	opacity: 0;
	transform: translateY(30px);
	animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
	100%{
		opacity: 1;
		transform: translateY(0px);
	}

}


.bio li{
	color: #fff;
	text-align: left;
	font-size: 20px;
	flex-basis: 48%;
	padding: 5px 2px;
	margin-left: 30%;
}


.media h1{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 4px;
	padding: 200px 0 100px;
	color: #555;
	text-align: left;

}












.header{
	min-height: 100vh;
	width: 100%;
	background-color: green;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/iii.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

h2{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 4px;
	padding: 200px 0 100px;
	color: #555;
	text-align: center;
	margin-top: 0%;

}



.what1{
	display: flex;
	justify-content: center;
}

.what1 a{
	display: flex;
	background: #fff;
	height: 75px;
	width: 75px;
	margin: 0 15px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
				-6px -6px 10px -1px rgba(255,255,255,0.7);
	border: 1px solid rgba(0, 0, 0, 0.0);
	transition: transform 0.5s;
}

.what1 a:hover i{
	transform: scale(0.9);
}

.what1 a i{
	font-size: 35px;
	color: #777;
	transition: transform 0.5s;
}

.what1 a:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
				inset -4px -4px 6px -1px rgba(255,255,255,0.7),
				-0.5px -0.5px 0px rgba(255,255,255,1),
				0.5px 0.5px 0px rgba(0,0,0,0.15),
				0px 12px 10px -10px rgba(0,0,0,0.05);
	border: 1px solid rgba(0, 0, 0, 0.1);
	transform: translateY(2px);
}

.what1 a:hover .fa-facebook{
	color: #3b5998;
}

.what1 a:hover .fa-whatsapp{
	color: #4fce5d;
}
.what1 a:hover .fa-twitter{
	color: #00acee;
}
.what1 a:hover .fa-instagram{
	color: #f14843;
}
.what1 a:hover .fa-youtube{
	color: #f00;
}









.big{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.big h1{
	color: #333;
	margin-bottom: 60px;
}

iframe{
	width: 80%;
	height: 500px;
	filter: invert(100%);
}


nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 100px;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 6px 20px;
	position: relative;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 1px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}

.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1{
	font-size: 62px;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}
.hero-btn{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 4px;
	padding: 200px 0 100px;
	color: #fff;
	text-align: left;

	display: inline-block;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}





	


.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

nav .fa{
	display: none;
}









@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		
		width: 200px;
		top: 0;
		right: -200px;
	}
	.content hi{
		font-size: 20px;
	}
	.bio li{
		display: block;
	}
	.content{
		width: 200px;
		top: 0;
		right: -200px;
	}
	.content img{
		width: 200px;
		top: 0;
		right: -200px;
	}
	.table-1{
		font-size: 20px;
	}
	.content-table{
		width: 200;
		top: 0;
		right: -200;
	}
	.exp h1{
		font-size: 20px;
	}

	.contect1 h1{
		font-size: 20px;
	}

		
}








.ims{
	min-height: 100vh;
	width: 100%;
	background-color: green;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.exp h1{
	font-size: 100px;
	line-height: 100px;
	margin-left: 10px;
	margin-top: 2px;
	color: transparent;
	-webkit-text-stroke: 1px #008080;
	background: url(images/2.jpg);
		-webkit-background-clip: text;
		background-position: 0 0;
		animation: back 20s linear infinite;

	}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}

.exp span{
	color: #ff4500;
	font-size: 25px;
}

.exp p{
	color: #fff;

}
 .exp{
 	margin-left: 8%;
 }





.gal{
	min-height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/gal.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	color: black;
}

.gal-1 h1{
	color: #fff;
	margin-top: 50px;
	font-size: 50px;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	letter-spacing: 3px;

}







.gal-2{
	margin: 50px auto 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 15%;
	margin-left: 20%;
	position: center;

	
}



.gal-2 img{
	height: 300px;
	cursor: pointer;


}


.gal-2 img:hover{
	transform: scale(0.8) rotate(-15deg);
	border-radius: 20px;
	box-shadow: 0 32px 7px rgba(68, 77, 136, 0.2);
}


.contact{
	min-height: 60vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/contect1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	color: black;


	
}

.contect1 h1{
	color: #fff;
	margin-top: 50px;
	font-size: 50px;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	letter-spacing: 3px;

}





















